@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat{
    font-family: 'Montserrat', 'san-serif';
}

body{
    font-family: 'Montserrat', sans-serif;
}

@keyframes float-slow {
    0%, 100% {
      transform: translateY(0) rotate(-6deg);
    }
    50% {
      transform: translateY(-10px) rotate(-3deg);
    }
  }
  
  @keyframes float-medium {
    0%, 100% {
      transform: translateY(0) rotate(6deg);
    }
    50% {
      transform: translateY(-15px) rotate(9deg);
    }
  }
  
  @keyframes float-fast {
    0%, 100% {
      transform: translateY(0) rotate(3deg);
    }
    50% {
      transform: translateY(-8px) rotate(0deg);
    }
  }
  
  .animate-float-slow {
    animation: float-slow 6s ease-in-out infinite;
  }
  
  .animate-float-medium {
    animation: float-medium 5s ease-in-out infinite;
  }
  
  .animate-float-fast {
    animation: float-fast 4s ease-in-out infinite;
  }